.doughnut-title{
    position: absolute;
    top: 181px;
    left: 172px;
    width: 80px;
    text-align: center;
    z-index: 0;
}
.content{
    position: relative;
}
.donuttitle{
    font-weight: 500;
    font-size: 20px;
    color: #359F6E;
}
.donutsubtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #359F6E;  
}
