.send__btn{
    border:none;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    background: #53CA93;
    padding: 6.5px 16px;
    border-radius: 29px;
}