.select__locations{
    outline: none;
    border: none;
    background-color: white;
    padding: 10px 10px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #2F7E59;

}