*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
    background-color:#E5E5E5;;
    
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 85px;
}
.container__header{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
